In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
raw_data = pd.read_csv('dataset/HousePrice/train.csv')

In [3]:
raw_data.head(1)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500

#### fill na data with mean value

In [4]:
Train_X_2 = raw_data[['LotFrontage']]
Train_X_2 = raw_data[['LotFrontage']].fillna(raw_data[['LotFrontage']].mean())
Train_X_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LotFrontage  1460 non-null   float64
dtypes: float64(1)
memory usage: 11.5 KB

#### standardlize data

In [5]:
max_min_scaler = lambda x : (x-np.min(x))/(np.max(x)-np.min(x))

In [6]:
Train_X_1 = raw_data[['LotArea']].apply(max_min_scaler)
Train_X_2 = Train_X_2.apply(max_min_scaler)
Train_Y = raw_data[['SalePrice']].apply(max_min_scaler)

In [7]:
Train_Y

      SalePrice
0      0.241078
1      0.203583
2      0.261908
3      0.145952
4      0.298709
...         ...
1455   0.194556
1456   0.243161
1457   0.321622
1458   0.148903
1459   0.156367

[1460 rows x 1 columns]

In [8]:
Train_X = pd.concat([Train_X_1, Train_X_2], axis=1)

In [9]:
Train_X

       LotArea  LotFrontage
0     0.033420     0.150685
1     0.038795     0.202055
2     0.046507     0.160959
3     0.038561     0.133562
4     0.060576     0.215753
...        ...          ...
1455  0.030929     0.140411
1456  0.055505     0.219178
1457  0.036187     0.154110
1458  0.039342     0.160959
1459  0.040370     0.184932

[1460 rows x 2 columns]

#### hyperparameters

In [10]:
learning_rate = 0.001
epochs = 1000
n_sampes = len(Train_X)

In [11]:
x = tf.placeholder(tf.float32, [None, 2])
y = tf.placeholder(tf.float32, [None, 1])

In [12]:
W = tf.Variable(np.random.rand(2, 1), name='Weight', dtype=tf.float32)
b = tf.Variable(np.random.rand(), name='bias', dtype=tf.float32)

In [13]:
pred = tf.add(tf.matmul(x, W), b)
loss = tf.reduce_mean(tf.square(y-pred))
optimizer = tf.train.GradientDescentOptimizer(learning_rate).minimize(loss)

In [14]:
init = tf.global_variables_initializer()

#### train

In [15]:
with tf.Session() as sess:
    sess.run(init)
    
    for epoch in range(epochs):
        sess.run(optimizer, feed_dict={x:Train_X, y:Train_Y})
        if epoch % 100 == 0:
            print('Epoch: ', epoch,
                  ' cost: ', sess.run(loss, feed_dict={x:Train_X, y:Train_Y}),
                  ' Weight: ', sess.run(W, feed_dict={x:Train_X, y:Train_Y}),
                  ' bias: ', sess.run(b, feed_dict={x:Train_X, y:Train_Y}))
    writer = tf.summary.FileWriter('logs/', sess.graph)

Epoch:  0  cost:  0.34440958  Weight:  [[0.02721692]
 [0.68369347]]  bias:  0.6641939
Epoch:  100  cost:  0.23165835  Weight:  [[0.02283169]
 [0.6659306 ]]  bias:  0.55973256
Epoch:  200  cost:  0.15701975  Weight:  [[0.01929049]
 [0.651458  ]]  bias:  0.47474334
Epoch:  300  cost:  0.10761045  Weight:  [[0.01643602]
 [0.6396619 ]]  bias:  0.4055966
Epoch:  400  cost:  0.074902534  Weight:  [[0.01414028]
 [0.6300441 ]]  bias:  0.34933975
Epoch:  500  cost:  0.05325053  Weight:  [[0.01229911]
 [0.62219805]]  bias:  0.30357042
Epoch:  600  cost:  0.03891728  Weight:  [[0.01082779]
 [0.615794  ]]  bias:  0.26633382
Epoch:  700  cost:  0.029428925  Weight:  [[0.00965739]
 [0.6105629 ]]  bias:  0.23603985
Epoch:  800  cost:  0.023147738  Weight:  [[0.0087318]
 [0.6062862]]  bias:  0.21139438
Epoch:  900  cost:  0.018989623  Weight:  [[0.00800539]
 [0.60278624]]  bias:  0.19134463